<!DOCTYPE html>
<html lang="en-US">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<script type="text/ng-template"  id="tree_item_renderer.html">
    {{data.name}}
    <button ng-click="add(data)">Add node</button>
    <ul>
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>

<body>
<script>
angular.module("myApp", []).
controller("TreeController", ['$scope', '$http', function($scope, $http) {

    $scope.add = function(data) {
    	  $http({
        	method: 'GET',
          url: data.children
        }).then(function donothing(collection) {
  				collection.data.Items.map(function (item) {
          	var newName = item.Name;
            data.nodes.push({name: newName,nodes: [], children: item.Links.Elements});
          });
        });
    };
    $scope.tree = [{name: "Node", nodes: [], children: 'https://localhost/piwebapi/assetdatabases/D0wiLD-Uw1bkKJgzGGPOuvBgh2D-vQWeY0KQ78v8WoRGiwSkxFRkVCVlJFTkVXXEtJVEpBUEFORVNF/elements'}];
}]);
</script>

<ul ng-app="myApp" ng-controller="TreeController">
      <li> hi </li>
    <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>
</body>

</html>