<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <script type="text/javascript" src="http://code.angularjs.org/angular-1.0.0rc8.js"></script>
  <style type="text/css">
         ul {
           list-style: square;
         }
         li {
           margin-left: -20px;
         } 
         a {
           font-family: 'Hiragino Kaku Gothic Pro', 'Meiryo', sans-serif;
           line-height: 100%;
         }
      </style>
<title>Angular: AF Treeview</title>
</head>

<body ng-app="myApp">
  <script type="text/ng-template" id="tree_item_renderer.html">
         <a ng-href="{{data.selfLink}}">{{data.name}}</a>
         <ul>
           <li ng-repeat="data in data.children" ng-include="'tree_item_renderer.html'"></li>
         </ul>
      </script>
<ul ng-app="Application" ng-controller="TreeController">
  <li ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></li>
</ul>
<script type='text/javascript'>

  angular.module("myApp", []).
    controller("TreeController", ['$scope', '$http', function ($scope, $http) {
        function getURLforElement(elementPath) {
    var body = {
      "GetElement": {
        "Method": "GET",
        "Resource": "https://localhost/piwebapi/elements/E0wiLD-Uw1bkKJgzGGPOuvBgCq8QOCya5hGb2YAACxntxQSkxFRkVCVlJFTkVXXFVSSVxHT09HTEUgTUFQ"
      },
      "GetURLAttribute": {
        "Method": "Get",
        "Resource": "https://localhost/piwebapi/attributes?path={0}|Location",
        "ParentIds": [
          "GetElement"
        ],
        "Parameters": ["$.GetElement.Content.Path"]
      },
      "GetValue": {
        "Method": "Get",
        "Resource": "{0}",
        "ParentIds": [
          "GetURLAttribute"
        ],
        "Parameters": ["$.GetURLAttribute.Content.Links.Value"]
      }
    }
    $http({
      method: 'POST',
      url: 'https://localhost/piwebapi/batch',
      withCredentials: true,
      data: body
    }).then(function alertOfResult(result) {
      alert("hi");
    });
  }

      $scope.add = function (data) {
        $http({
          method: 'GET',
          url: data.link,
          withCredentials: true
        }).then(function cretateNode(collection) {
          collection.data.Items.map(function (item) {

            data.children.push({
              name: item.Name,
              children: [],
              link: item.Links.Elements,
              selfLink: item.Links.Self
            });
          });
          for (d in data.children) {
            $scope.add(data.children[d]);
          }
        });
      };
      $scope.tree = [{
        name: "エレメント",
        children: [],
        link: 'https://localhost/piwebapi/assetdatabases/D0wiLD-Uw1bkKJgzGGPOuvBgh2D-vQWeY0KQ78v8WoRGiwSkxFRkVCVlJFTkVXXEtJVEpBUEFORVNF/elements',
        selfLink: 'https://localhost/piwebapi/assetdatabases/D0wiLD-Uw1bkKJgzGGPOuvBgh2D-vQWeY0KQ78v8WoRGiwSkxFRkVCVlJFTkVXXEtJVEpBUEFORVNF/'
      }];
      getURLforElement("hi");
      $scope.add($scope.tree[0]);
    }]);         
</script>
</body>

</html>